{% extends 'base.html' %}
{% block title %}Home - IBR Group{% endblock %}
{% block content %}
<section class="hero">
    <h1>IBR H GROUP TRUST</h1>
    <p>IBR Group is a diversified group of companies driving impact across multiple industries.</p>
    <div>
       
        <a href="/ibr_africa/" class="btn btn-large">IBR Africa</a>
        <a href="/ibr_foundation/" class="btn">IBR H Foundation</a>
        <a href="/ibr_holdings/" class="btn">IBR Holdings</a>
        <a href="/companies/investments/" class="btn">IBR H Investment</a>
        <!-- <a href="/companies/" class="btn">Explore Companies</a> -->
    </div> 

</section>
{% endblock %}
